#jumbo1{
    background-color: rgb(147,34,11);
    border-left: 20px solid grey;
    border-right:20px solid grey;
}
#jumbo2{
    background-color: rgb(51,91,11);
    border-left: 20px solid grey;
    border-right:20px solid grey;
}
#jumbo3{
    background-color: rgb(147,34,10);
    border-left: 20px solid grey;
    border-right:20px solid grey;
}
#jumbo4{
    background-color: rgb(51,91,11);
    border-left: 20px solid grey;
    border-right:20px solid grey;
}
#jumbo5{
    background-color: rgb(147,34,10);
    border-left: 20px solid grey;
    border-right:20px solid grey;
}
#jumbo6{
    background-color: rgb(51,91, 11);
    border-left:20px solid grey;
    border-right:20px solid grey;
}

#jumbo7{
    background-color: rgb(157,34,10);
}

#jumbo8{
    background-color: rgb(51,91,11);
    border-left: 20px solid grey;
    border-right:20px solid grey ;
}
#jumbo9{
    background-color:rgb(157,34,10) ;
    border-left: 20px solid grey;
    border-right: 20px solid grey;
}
#jumbo10{
    background-color: rgb(51,91,11);
    border-left: 20px solid grey;
    border-right: 20px solid grey;
}
body{
    background-color: bisque;
}
h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.card{
    background-color: rgb(0,153,153);
    border-style: outset;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 40px;
}